html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-image: url(../tiger.img/header_background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8.0625rem;
    background-repeat: no-repeat;
    position: relative;
}

.header_wrap {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

.header_contacts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin-top: 1rem;
    width: 5.125rem;
    height: 5.8125rem;
    background-image: url(../tiger.img/tiger_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_contacts_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.75rem;
}

.header_contacts_info_item {
    display: flex;
    flex-direction: column;
}

.header_contacts_item__telephon {
    font-size: 1.25rem;
    color: #ffffff;
}

.header_contacts_item__tel_comment {
    font-size: 0.75rem;
    color: #dedede;
}

.btn {
    outline: none;
    border: unset;
    border-radius: 0.3125rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
    font-family: 'Roboto';
}

.header_contacts_info_item__btn {
    width: 11.6875rem;
    height: 3rem;
    margin: 0 3.0625rem;
}

.header_content {
    position: relative;
    padding-top: 11.5rem;
}

.header_content h2 {
    font-size: 3.75rem;
    line-height: 4.5625rem;
    color: #ffffff;
    text-align: center;
}

.header_content p {
    font-size: 1.125rem;
    color: #ffffff;
    text-align: center;
}

.header_count {
    width: 100%;
    padding: 5.5625rem 0;
}

.header_count_form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_count_form_input, .header_count_form__btn {
    outline: none;
    border: unset;
    width: 13.4375rem;
    height: 3.5rem;
    border-radius: 0.3125rem;
    background-color: #ffffff;
    font-size: 0.875rem;
    color: #b6b6b6;
    text-align: center;
}

.header_count_form__btn {
    box-shadow: 0rem 0.375rem 0.4375rem rgba(130,104,0,0.36);
    background-color: #ffdb4d;
    color: #000000;
}

.header_count_form_input::placeholder {
    font-size: 0.875rem;
    color: #b6b6b6;
    text-align: center;
    font-family: "Roboto";
}

.header_count_form__btn::placeholder {
    color: #000000;
    text-align: center;
    font-family: "Roboto";
}

.price {
    width: 65%;
    margin: 0 auto;
}

.price h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.9375rem;
}

.styled_price_header {
    color: #ffdb4d;
}

.price h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.apply_questions {
    width: 100%;
    background-color: rgba(207,207,207,0);
    border: 0.375rem solid #dfdfdf;
    padding: 2.875rem 0;
}

.apply_questions_text {
    font-size: 1.125rem;
    color: #000000;
    text-align: center;
    font-weight: 300;
    display: block;
    width: auto;
    margin: 0 auto 2.875rem;
}

.apply_questions_styled_text {
    font-weight: bold;
}

.progress_line {
    width: 100%;
    height: 3.1875rem;
    background-color: #e1e1e1;
    position: relative;
    display: flex;
}

.progrss_line_item {
    width: 20%;
    height: 3.1875rem;
    background-color: #ffdb4d;
    visibility: hidden;
}

.progrss_line_item__active {
    visibility: visible;
}

.progress_line p {
    position: absolute;
    top: 1rem;
    left: 20rem;
    font-size: 0.875rem;
    color: #000000;
    font-weight: 300;
    text-align: center;
    z-index: 10;
}

.current_question {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 3.625rem;
    padding-left: 2.9375rem;
}

.current_question_item {
    width: 0.625rem;
    height: 0.625rem;;
    border-radius: 100%;
    background-color: rgba(226,226,226,0);
    border: 0.0625rem solid #ffdb4d;
    margin-right: 1.3125rem;
    position: relative;
}

.current_question_item__active {
    background-color: #ffdb4d;
}

.current_question_item::after {
    content: '';
    display: block;
    height: 0.0625rem;
    width: 1.3125rem;
    background-color: #ffdb4d;
    position: absolute;
    top: 0.25rem;
    left: 0.5625rem;
}

.current_question_item:nth-of-type(1) {
    margin-left: 1.1875rem;
}

.current_question_item:nth-of-type(5)::after {
    content: "";
    display: none;
}

.current_question span {
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
}

.apply_questions_start {
    width: 100%;
    position: relative;
    padding-bottom: 18rem;
}

.question_item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3.625rem 2.9375rem 3.375rem ;
}

.invisible_item {
    display: none;
}

.question_item__text_container {
    display: flex;
    align-items: center;
}

.question_item_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.0625rem;
    height: 3.0625rem;;
    border-radius: 100%;
    background-color: rgba(212,201,228,0);
    border: 0.1875rem solid #ffdb4d;
    font-size: 1.4375rem;
    color: #000000;
    margin-right: 1.25rem;
}

.question_item_text {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}

.question_item__answer {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 2.1875rem
}

.apply_questions_checkbox_container {
    width: 50%;
    margin-left: 4.5rem;
    margin-top: 2.1875rem;
    display: flex;
}

.question_item_checkbox {
    width: 50%;
    display: flex;
    align-items: center;
}

.question_item_checkbox_text {
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
}



.question_item_checkbox_wrap {
    position: relative;
    width: 1.3125rem;
    height: 1.3125rem;
    border-radius: 100%;
    background-color: rgba(212,201,228,0);
    border: 0.0625rem solid #ffdb4d;
    margin-right: 1rem;
}

.checkbox_mark {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #ffdb4d;
    border-radius: 100%;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.question_item_checkbox input[type="radio"] {
    display: none;
}

.question_item_checkbox input:checked + .question_item_checkbox_wrap .checkbox_mark{
    opacity: 1;
  }

.apply_questions_start__btn {
    width: 15.625rem;
    margin-left: 7.125rem;
    margin-top: 3.6875rem;
    height: 3.5rem;
    background-color: #ffdb4d;
}

.apply_questions_start__btn_disabled {
    opacity: 0.5;
}

.services {
    width: 100%;
    background-color: #f2f2f2;
    padding: 2rem 0;
}

.services h2 {
    font-size: 1.875rem;
    color: #000000;
    text-align: center;
}

.services h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}   

.service_types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 4.8125rem;
}

.service_type__item {
    width: 33.3%;
    padding: 5rem 4rem;
    position: relative;
    text-align: center;
}

.service_type__item:nth-of-type(1) {
    background-image: url(../tiger.img/service_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.service_type__item:nth-of-type(2) {
    background-image: url(../tiger.img/service_img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service_type__item:nth-of-type(3) {
    background-image: url(../tiger.img/service_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service_type__item:nth-of-type(4) {
    background-image: url(../tiger.img/service_img4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service_type__item:nth-of-type(5) {
    background-image: url(../tiger.img/service_img5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 68%;
}

.service_type__item:nth-of-type(6) {
    background-image: url(../tiger.img/service_img6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.service_type__item:nth-of-type(7) {
    background-image: url(../tiger.img/service_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.service_type__item:nth-of-type(8) {
    background-image: url(../tiger.img/service_img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service_type__item:nth-of-type(9) {
    background-image: url(../tiger.img/service_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.servise_type__item_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.4;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type__content {
    position: absolute;
    top: 9rem;
    left: 2rem;
    right: 2rem;
}

.service_type__text {
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type__content_hover {
    opacity: 0;
    position: relative;
}

.service_type__text_hover {
    font-size: 1.5rem;
    color: #000000;
    text-align: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type__btn {
    margin: 2.625rem auto 0;
    width: 15.625rem;
    height: 3.5rem;
    background-color: #f5f5f5;
    box-shadow: 0rem 0.375rem 1.125rem rgba(0,0,0,0.18);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type__item:hover .service_type__content_hover {
    opacity: 1;
}

.service_type__item:hover .service_type__content {
    opacity: 0;
}

.service_type__item:hover .servise_type__item_wrap {
    background-color: #ffdb4d;
    opacity: 0.9;
}

.advantages {
    width: 100%;
    padding: 8.0625rem;
}

.advantages h2 {
    font-size: 1.875rem;
    color: #000000;
    text-align: center;
}

.advantages h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.advantages_header_text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    text-align: center;
    margin: 1.375rem;
}

.advantages_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.advantages_content__item {
    width: 48%;
    margin: 0.5rem auto;
    background-color: #f5f5f5;
    padding: 2.5625rem;
    position: relative;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.advantages_content__item h3 {
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 1.625rem;
}

.advantages_content__item_img_container {
    width: 3.9375rem;
    height: 3.9375rem;
    border: 1px solid #ffdb4d;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages_content__item_img {
    width: 60%;
    height: 60%;
}

.advantages_content__item:hover {
    box-shadow: 0px 6px 18px rgba(59,47,0,0.25);
    background-color: #ffdb4d;
}

.advantages_item_text {
    position: absolute;
    top: 6.5rem;
    left: 2.5625rem;
    right: 2.5625rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.advantages_content__item:hover .advantages_item_text {
    opacity: 1;
}

.advantages_content__item:hover .advantages_content__item_img_container {
    opacity: 0;
}

.about {
    position: relative;
    width: 100%;
    padding: 2rem;
    background-image: url(../tiger.img/about_background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about h2 {
    font-size: 1.875rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.about h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.about_header_text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 70%;
    margin: 1.375rem auto;
}

.about_numbers_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_numbers_container_row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about_numbers_container_row:nth-of-type(1) {
    width: 70%;
}

.about_numbers_item {
    width: 50%;
    display: flex;
    padding: 4.25rem 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about_number {
    font-size: 7.0625rem;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.about_number_description {
    font-size: 1.1875rem;;
    color: #ffdb4d;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.about_number_selected_first {
    width: 65%;
}

.about_number_selected_second {
    width: 35%;
}

.about_number_selected_second  span {
    text-align: left;
}

.about_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.3;
}

.about_content {
    position: relative;
}

.clients_review {
    width: 100%;
    padding: 2rem 6.25rem;
}

.clients_review h2 {
    font-size: 1.875rem;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
}

.clients_review h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.clients_review_content {
    width: 100%;
    display: flex;
}

.clients_review_content_item {
    position: relative;
    width: 33%;
    margin: 1rem;
}

.clients_review_content_item_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.video_play {
    position: absolute;
    top: 5rem;
    left: 7.8125rem;
    width: 4.875rem;
    height: 4.875rem;
    border-radius: 100%;
    background-color: rgba(255,255,255,0);
    border: 0.0625rem solid #ffdb4d;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.video_play img {
    width: 30%;
}

.clients_review_content_item:hover .video_play {
    opacity: 1;
}

.clients_review_content_item:hover .clients_review_content_item_wrap {
    opacity: 0.7;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0!important;
}

.swiper-container {
    padding: 3rem 0!important;
}

.swiper-button-next, .swiper-button-prev {
    top: 96%!important;
}

.swiper-button-next {
    background-image: url(../tiger.img/right-arrow.svg)!important;
    right: 40%!important;
}

.swiper-button-prev  {
    background-image: url(../tiger.img/right-arrow.svg)!important;
    left: 40%!important;

    transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -ms-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    -webkit-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
}   

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: unset!important;
    border: 1px solid #ffdb4d;
    display: inline-block;
    border-radius: 100%;
    opacity: 1!important;
}

.swiper-pagination-bullet-active {
    position: relative;
    transform: scale(1.5);
}

.swiper-pagination-bullet-active::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #ffdb4d;
    position: absolute;
    top: 1px;
    left: 1px;
}

.payment_info {
    width: 100%;
    padding: 4rem;
    background-color: #f2f2f2;
}

.payment_info h2 {
    font-size: 1.875rem;
    color: #000000;
    text-align: center;
}

.payment_info_text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    text-align: center;
    margin: 1.375rem auto;
    display: block;
    width: 60%;
}

.payment_info_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem;
}

.payment_info_content h3 {
    font-size: 1.125rem;
    color: #000000;
    display: block;
    width: 60%;
    text-align: center;
    margin: 0 auto 1.375rem;
}

.payment_info_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.payment_info___type_item {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.payment_info__number {
    width: 3.1875rem;
    height: 3.1875rem;
    border-radius: 100%;
    border: 0.0625rem solid #858585;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #868686;
    text-align: center;
    margin-right: 1.1875rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.payment_info_type {
    display: flex;
    align-items: center;
}

.payment_info_type, .payment_info__type_text {
    width: 50%;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.payment_type_info_text {
    font-size: 1.125rem;
    color: #868686;
    text-align: center;
    border-bottom: 2px dashed rgba(133, 133, 133, 1);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.payment_info___type_item:hover .payment_info__number {
    border: 0.0625rem solid #ffdb4d;
    color: #ffdb4d;
}

.payment_info___type_item:hover .payment_type_info_text {
    color: #ffdb4d;
    border-bottom: 2px dashed rgba(133, 133, 133, 0);
}

.payment_info__type_text {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    opacity: 0;
}

.payment_info__type_text p{
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
}

.visible_item {
    opacity: 1;
    visibility: visible;
}

.online_apply {
    width: 100%;
    padding: 2rem 8.125rem;
}

.online_apply h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    color: #000000;
    text-align: center
}

.online_apply h2::before {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.online_apply p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    text-align: center;
    margin: 1.375rem auto;
    display: block;
    width: 60%;
}

.apply_title_styled {
    color: #ffdb4d;
}

.online_apply_content {
    width: 100%;
    border: 6px solid #ffdb4d;
    padding: 7.5rem 5.875rem;
    margin-top: 4.8125rem;
}

.online_apply_content_form {
    display: flex;
    flex-wrap: wrap;
}

.form_item {
    width: 30%;
    margin: 0 auto;
}

.form_item:nth-of-type(1),
.form_item:nth-of-type(2),
.form_item:nth-of-type(3) {
    padding-bottom: 5.3125rem;
}

.online_apply_content_style {
    width: 15.1875rem;
    height: 3.6875rem;
    border: 1px solid #848484;
    outline: none;
    border-radius: unset;
    font-size: 0.875rem;
    color: #b6b6b6;
    padding: 1rem;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    margin: 1rem auto;
}

.online_apply_form__btn {
    background-color: #ffdb4d;
    border: unset;
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
    box-shadow: 0px 6px 7px rgba(0,0,0,0.18);
    margin: 2.5875rem auto 0;
}

.online_apply_content_style::placeholder {
    font-size: 0.875rem;
    color: #b6b6b6;
    font-family: 'Roboto';
}

.form_input_span {
    display: block;
    width: auto;
    font-size: 1.5rem;
    color: #000000;
}

.form_item_checkbox {
    user-select: none;
    display: flex;
    align-items: center;
  }

  .form_item_checkbox_text {
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
    display: block;
    margin-left: 0.8125rem;
  }

  .icon-check {
    font-size: 0.8rem;
    color: #000000;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .form_item_checkbox .form_item_checkbox_wrap {
    width: 1.0625rem;
    height: 1.0625rem;
    background-color: #ffffff;
    border: 0.0625rem solid #848484;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form_item_checkbox input[type="checkbox"] {
    display: none;
  }
  
  .form_item_checkbox input:checked + .form_item_checkbox_wrap .icon-check  {
        opacity: 1;
  }

  footer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 3.375rem 8.0625rem;
      background-color: #f2f2f2;
  }

  .logo_section {
      width: 100%;
  }

  .footer_logo {
    width: 5.125rem;
    height: 5.8125rem;
    background-image: url(../tiger.img/tiger_logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer_item {
      width: 25%;
      margin: 0 auto;
  }

  .footer_item:nth-of-type(3) {
      width: 15%;
  }

  .footer_item_text {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000000;
    font-weight: 300;
    margin: 0 auto 1rem;
  }

  .confidential_politics {
      font-size: 0.75rem;
      line-height: 1rem;
      color: #000000;
      display: block;
      width: 100%;
      margin: 0.9375rem auto;
  }

  .rights_reserved {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000000;
    font-weight: 300;
    display: block;
    width: 105%;
  }

  .footer_item_title {
    font-size: 0.9375rem;
    padding-bottom: 0.5rem;
    color: #000000;
    border-bottom: 2px solid #ffdb4d;
    width: 100%;
    text-transform: uppercase;
  }


  .footer_item_info_links {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #000000;
    font-weight: 300;
    padding-bottom: 0.6875rem;
    text-decoration: none;
  }

  .footer_item_info_links:hover {
      font-weight: bold;
      text-decoration: underline;
  }

  .footer_item ul {
      margin-top: 1.8125rem;
  }

  .social_link_container {
      display: flex;
      width: 50%;
  }

  .solcial_link {
      display: block;
      width: auto;
      margin: 1.5rem auto;
      color: #000000;
      font-size: 1rem;

      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  .solcial_link:hover {
    color: #ffdb4d;;
  }

  .footer_apply_form__btn {
    background-color: #ffdb4d;
    border: unset;
    font-size: 0.9375rem;
    color: #000000;
    text-align: center;
    box-shadow: 0px 6px 7px rgba(0,0,0,0.18);
    margin: 2.5875rem auto 0;
  }

  .footer_contacts_item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    display: block;
    width: 100%;
  }

  .footer_contacts__content {
      margin-top: 1.75rem;
  }

  .footer_contact_styled {
      font-weight: bold;
  }

  .drim_logo {
    background-image: url(../tiger.img/Logo\ 4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;
    height: 2rem;
    margin-top: 1rem;
  }

   .creator_logo span {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #000000;
   }

   .header_burger_menu {
    z-index: 1001;
}

.menu__icon {
    display: inline-block;
    margin-top: 1.2rem;
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffdb4d;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 0.5rem;
    right: 0;
    left: unset;
    width: 80%;
}

.menu__icon span:nth-child(4) {
    top: 1rem;
    right: 0;
    left: unset;
    width: 90%;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #000000;
}

.burger_menu_title {
    font-size: 0.9375rem;
    color: #ffffff;
    display: block;
    margin-left: 0.5rem;
}

.burger_menu_title.menu_state_open {
    opacity: 0;
}

.header_menu_open {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 

.header_menu_open .header_contacts {
    width: 100%;
    padding: 0 8.0625rem;
}

.header_menu_open .header_contacts_item__telephon, .header_menu_open .header_contacts_item__tel_comment  {
    color: #000000;
}

.header_menu_open  .header_contacts_info_item__btn {
    background-color: #ffdb4d;
    margin-right: 5.1875rem;
}

.header_menu_open .header_logo {
    background-image: url(../tiger.img/company_logo_open_menu.png);
    margin-left: 0.375rem;
}

.header_menu_open_image {
    width: 50%;
    height: 100%;
    background-image: url(../tiger.img/10.png);
    background-size: contain;
    background-position: -15.625rem 30%;
    background-repeat: no-repeat;
} 

.header_menu_open_nav {
    width: 50%;
}

.header_menu_open_nav {
    padding-top: 5.75rem;
    padding-right: 8.0625rem;
}

.header_menu_open_nav_point {
    font-size: 2.8125rem;
    line-height: 4.5625rem;
    color: #000000;
    text-align: right;
    letter-spacing: 0.05px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header_menu_open_nav_decoration {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: #ffdb4d;
    margin: 0 1rem;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.header_menu_open_nav_point:hover { 
    font-weight: bold;
    letter-spacing: 0;
}

.header_menu_open_nav_point:hover .header_menu_open_nav_decoration {
    opacity: 1;
}

.menu_visible {
    z-index: 100;
    opacity: 1;
    height: auto;
}
 
 .styled-select.slate {
    background: url(../tiger.img/select_btn.svg) no-repeat right center;
 }
 
 .styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
 }
.data_picker::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(../tiger.img/calendar.svg) no-repeat center;
    background-size: contain;
  }



.modal_window_first, .modal_window_second {
    display: none;
    z-index: 9999;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 1rem 0 rgba(155, 155, 155, 0.50);
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.modal_window_first {
    width: 30%;
}

.modal_window_second {
    width: 40%;
    padding: 2.5rem;
}

.modal_img_container {
    width: 4.6875rem;
    height: 4.6875rem;
    margin: 1rem auto;
    border-radius: 100%;
    background-color: rgba(227,24,125,0);
    border: 0.125rem solid #ffdb4d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_img {
    background-image: url(../tiger.img/tick.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
}

.modal_title {
    font-size: 1.5rem;
    color: #000000;
}

.modal_text {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 300;
    margin: 1rem;
}

.modal_visible {
    display: block;
}

.modal_window_second h2 {
    font-size: 1.5rem;
    color: #000000;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.modal_window_second h2::after {
    content: "";
    display: block;
    width: 4.5rem;;
    height: 0.1875rem;
    margin: 1.5rem auto;
    background-color: #ffdb4d;
}

.modal_window p {
    margin: 1rem auto;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}

.modal_window_input,
.modal_window_submit_btn {
    outline: none;
    display: block;
    width: 80%;
    height: 3.5rem;
    border-radius: 0.3125rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 1rem auto;
    font-size: 0.875rem;
    color: #b6b6b6;
    outline: none;
    display: block;
    padding: 0.5rem;
}

.modal_window_input::placeholder {
    font-size: 0.875rem;
    color: #b6b6b6;
    font-family: 'Roboto';
    padding-left: 1.5rem;

}

.modal_window_submit_btn{
    background-color: #ffdb4d;
    box-shadow: 0px 6px 7px rgba(130,104,0,0.36);
    border: unset;
    color: #000000;
    font-size: 0.9375rem;
}

.modal_agreement {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #8b8b8b;
    font-weight: 300;
    text-align: center;
}

.modal_agreement a {
    color: #8b8b8b;
}

.close_btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    opacity: 0.3;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close_btn:before, .close_btn:after {
    position: absolute;
    left: 0.9rem;
    content: ' ';
    height: 2rem;
    width: 0.125rem;
    background-color: #333;
  }
  .close_btn:before {
    transform: rotate(45deg);
  }
  .close_btn:after {
    transform: rotate(-45deg);
  }

  .close_btn:hover {
    opacity: 1;
  }

.modal_overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.7;
}

#modal_overlay {
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 